<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>GenAI Coach</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>GENAI COACH</h1>
        <div class="display_conversation" id="chat_area">
            <!-- <p><strong>You:</strong> {{ user_prompt }}</p>
            <p><strong>Coach:</strong> {{ chatbot_reply }}</p> -->
            {%if not history%}
            <p class="coach"><strong>Coach:</strong> Hello! I'm your GenAI Coach. Is your GenAI development going well?
            </p>

            {% endif %}
            {%for message in history%}
            {% if message.role == 'user' %}
            <p class="you"><strong style="color: white;">You:</strong> {{ message.parts[0].text }}</p>
            {% else %}
            <div class="coach">
                <strong>Coach: </strong>{{ message.parts[0].text|safe }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <form method="POST" id="user_form">
            <input type="text" name="user_prompt" id="user_prompt" placeholder="Type your message here..." required>
            <button id="bt" type="submit">Send</button>
        </form>
    </div>
</body>
<script>


</script>

</html>