<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>GenAI Coach</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>GENAI COACH</h1>
        <div class="display_conversation" id="chat_area">
            <!-- <p><strong>You:</strong> {{ user_prompt }}</p>
            <p><strong>Coach:</strong> {{ chatbot_reply }}</p> -->
            {%if not history%}
            <p id="coach"><strong>Coach:</strong> Hello! I'm your GenAI Coach. Is your GenAI development going well?</p>

            {% endif %}
            {%for message in history%}
            {% if message.role == 'user' %}
            <p class="you"><strong style="color: white;">You:</strong> {{ message.parts[0].text }}</p>
            {% else %}

            <div class="coach">
                <p><strong>Coach:</strong>{{ message.parts[0].text|safe }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <form method="POST" id="user_form">
            <input type="text" name="user_prompt" id="user_prompt" placeholder="Type your message here..." required>
            <button id="bt" type="submit">Send</button>
        </form>
    </div>
</body>
<script>

    const chat_scroll = document.getElementById("chat_area");
    const user_prompt = document.getElementById("user_prompt");
    const form = document.getElementById("user_form");
    const bt = document.getElementById("bt");
    window.onload=()=>{
        chat_scroll.scrollTop=chat_scroll.scrollHeight;
    }
    form.onsubmit = async (e) => {
        e.preventDefault();
        const msg = user_prompt.value.trim();
        if (!msg) {
            return;
        //chat_scroll.scrollIntoView({ behavior: "smooth", block: "end" });
        }
        chat_scroll.innerHTML += `<p class="you"><strong style="color:white">You:</strong> ${msg}</p>`;
        user_prompt.value = "";
        bt.disabled = true;
        bt.innerText = "Thinking...";
        chat_scroll.scrollTop = chat_scroll.scrollHeight;
        try {
            const res = await fetch("/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ user_prompt: msg })
            });
            // const data = await res.json();
            // chat_scroll.innerHTML += `<div class="coach"><p><strong>Coach:</strong></p>${data.chatbot_reply}</div>`;
            const reader = res.body.getReader();
            const decoder = new TextDecoder();
            let div = document.createElement("div");
            div.className = 'coach';
            div.innerHTML=`<p style="padding:5px"><strong>Thinking....,</strong></p>`;
            chat_scroll.appendChild(div);
            parse = "";
            while (true) {
                const { value, done } = await reader.read();
                if (done) {
                    break;
                }
                const chunk = decoder.decode(value);
                parse += chunk;
                div.innerHTML = `<p><strong>Coach:</strong>${marked.parse(parse)}</p>`;
                chat_scroll.scrollTop = chat_scroll.scrollHeight;
                
            }
            
        } catch (err) {
            console.error("Error:", err);
            chat_scroll.innerHTML += `<div class="error"><strong style="color:red;">Something went wrong</strong></div>`;
        }
        bt.disabled = false;
        bt.innerText = "Send";
        chat_scroll.scrollTop = chat_scroll.scrollHeight;
    }

</script>

</html>